body {
    margin : 0;
    overflow-y : hidden;
    overflow-x: hidden;
}

.detail{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-2 {
    background-color: #e9ecef;
}

.detailtext {
    overflow: hidden;
    padding: 5px 0;
    text-align: center;
    font-size: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "Nanum Gothic";
}
