.updatetable {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    margin : 20px 10px;
    position: relative;
    left: 440px;
    top: 100px;
}
.updatetable th {
    width: 30px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border: 1px solid #ccc;
}
.updatetable td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border: 1px solid #ccc;
}

.textareacontents {
    width: 500px;
    height: 300px;
    resize: none;
}

.updatetitle {
    position: relative;
    right: 230px;
    top: 100px;
}

.updatebutton {
    position: relative;
    left: 240px;
    top: 100px;
}