.detailarea {
    resize: none;
    width: 500px;
    height: 300px;
}

.detailtable {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    margin : 20px 10px;
    position: relative;
    left:450px;
    top: 130px;
}
.detailtable th {
    width: 500px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border: 1px solid #ccc;
}
.detailtable td {
    width: 30px;
    padding: 10px;
    vertical-align: top;
    border: 1px solid #ccc;
}

.detailtitle {
    position: relative;
    top: 120px;
    right: 240px;
}

.detailbutton {
    position: relative;
    left: 190px;
    top: 130px;
}